<!-- begin recent posts -->
    <div class="recent">
      <% @posts.each do |post| %>
      <!-- begin post -->
      <div class="o post"> <a href="http://all-free-download.com/free-website-templates/"><img src="images/_thumb.jpg" alt="" /></a>
        
        <h2><%= link_to post.title, post %></h2>
        <p>Ut vel orci quis sem dapibus iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque enim. Misl blandit feugiat. Ut vel orci quis sem dapibus iaculis.</p>
        <p class="readmore">[ <a href="http://all-free-download.com/free-website-templates/">read more</a> ]</p>
        <div class="break"></div>
      </div>
      <!-- end post -->
      <% end %>
    </div>
    <!-- end recent posts -->