<!-- begin recent posts -->
<div class="recent">
	<!-- begin post -->
	<div class="single">
		<h2><%= @post.title %></h2>
		<%= @post.text %>
	</div>
	<!-- end post -->
</div>
<!-- end recent posts -->